* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    align-items: center;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.profile-img {
  width: 280px;
  height: 280px;
  object-fit: cover;    
  border: 6px solid #fff;
  border-radius: 12px;   
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
}



body {
  background-color:  #141e30;
    color: #ffffff;
    
}

/* About page typography */
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-section p, .about-section ul, .about-section li {
  font-size: 1.15rem;
  line-height: 1.6;
}


.card {
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.navbar .bi-instagram {
  font-size: 1.3rem;
}

.navbar .bi-instagram:hover {
  color: #E1306C;
}

section a:hover {
  color: #E1306C;  /* Instagram pink */
  transform: scale(1.2);
  transition: 0.3s;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #111;
  color: #fff;
}

.bi-linkedin {
    font-size: 1.8rem;
    transition: transform 0.3s, color 0.3s;
}

.bi-linkedin:hover {
    color: #0A66C2;
    transform: scale(1.2);
}
       
